.form {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;

}
form > input {
    margin: 10px;
    height: 50%;
}

.form > button {
    margin: 10px;
    height: 60%;
}
